@font-face{
    font-family: 'Roboto';
    src: url('../Fonts/Roboto/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Montserrat';
    src: url('../Fonts/Montserrat/Montserrat-Light.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Quicksand';
    src: url('../Fonts/Quicksand/static/Quicksand-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'Quicksand-SemiBold';
    src: url('../Fonts/Quicksand/static/Quicksand-SemiBold.ttf') format('truetype');
}
@font-face{
    font-family: 'Raleway';
    src: url('../Fonts/Raleway/static/Raleway-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Quicksand', 'Roboto', 'Montserrat', sans-serif;
}
a{
    list-style-type: none;
    color: white;
}
.jumbo-tron{
    background-image: url("../img/pexels-eberhard-grossgasteiger-2310713-414px.jpg");
    border-radius: 10% 30% 50% 70%;
    font-family: 'Montserrat';
}
.subtext{
    font-size: 1.5em;
}
.top-header{
    border-radius: 30px;
    background-color: #ffdb4c   ;
    z-index: 1040;
    font-family: 'Roboto';
}
.title-link{
    color : #0B0080;
}
nav a{
    list-style-type: none;
    font-family: 'Quicksand-SemiBold';
}
nav a:hover{
    color:#db4cff;
    border-radius: 50px;
    background-color:#88d8ff;
    padding: 2%;
}
.spanToggle{
    color: red;
    /*background-color: #ffaf88 ;*/
    background-color: #db4cff;
}
.btn-toggler{
    background-color:#88d8ff ;
    border-radius: 50% 20% / 10% 40%;
}
.input-search{
    background-color:#ffdb4c;
}
.btn-search{
    background-color:#88d8ff;
    border-radius: 50% 20% / 10% 40%;
}
.btn-search2{
    margin: 3%;
}
h4{
    font-family: 'Quicksand-SemiBold', 'Roboto', 'calibri', sans-serif;
    padding-left: 5px;
    color: white;
    border-bottom: solid white 1.5px;
}
.text3{
    font-family: 'Roboto','Quicksand-SemiBold', 'calibri', sans-serif;
}
.text3 li, 
.text3 p {
    font-family: 'Quicksand-SemiBold', 'calibri', sans-serif;
}
.result{
  background-color: #4568F4;
  border-radius: 50% 20% / 10% 40%;
  padding: 5%;
}
.text-result{
    font-size: 1.4em;
}
.text-condition{
    font-family:'Quicksand-SemiBold','Roboto', 'calibri', sans-serif;
    font-size: 1.1em;
}
h3{
    font-family: 'Montserrat', 'Quicksand-SemiBold','Roboto', 'calibri', sans-serif;
    font-size: 1.4em;
}
.title-link{
    color: black;
    border-bottom: none;
}
.ohMyFood-btn{
    background: linear-gradient(to bottom right, #FF79DA 10%, #9656DC 70%, #9656DC 50%);
    border-radius: 40px;
    border:none;
    margin-bottom: 50px;
    padding: 20px 40px;
    color: white;
    box-shadow:1px 3px 5px grey;
}

.ohMyFood-btn:hover{
    background: #FF79DA;
    box-shadow:1px 3px 5px #353535;
    color: white;
}
.reservia-btn{
    background-color: #2078FD;
    color: white;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    padding: 15px;
    border:none;
}
.reservia-btn:hover{
    background-color: #0B0080;
    color: white;
}
footer{
    background-image: url("../img/pexels-ruvim-3560044-414px.jpg");
}
.logo{
    background: #ffdb4c;
    color: #0B0080;
    font-size: 1.2em;
    border-radius:50% 20% / 10% 40%;
    font-family:'Quicksand-SemiBold','Roboto', 'calibri', sans-serif;
}
@media screen and (min-width: 414px) and (max-width: 768px) {
    .jumbo-tron {
        background-image: url("../img/pexels-eberhard-grossgasteiger-2310713-768px.jpg");
    }
    footer{
        background-image: url("../img/pexels-ruvim-3560044-768px.jpg");
    }
  }
@media screen and (min-width: 769px) and (max-width: 1500px) {
    .jumbo-tron {
        background-image: url("../img/pexels-eberhard-grossgasteiger-2310713-1500px.jpg");
    }
    footer{
        background-image: url("../img/pexels-ruvim-3560044-1500px.jpg");
    }
}
  /*990px h1 se fait déborder*/