<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>La météo du jour</title>
    <link rel="shortcut icon" type="image/png" href="image/orinoco.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
    <header class="fixed-top topHeader">
		<nav class="navbar navbar-expand-lg">
			<a class="navbar-brand title-link" href="index.html">La Météo du jour</a>
			<button class="navbar-toggler btn-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			  <span class="navbar-toggler-icon spanToggle rounded-pill"></span>
			</button>
		  
			<div class="collapse navbar-collapse " id="navbarSupportedContent">
			  <ul class="navbar-nav mr-auto">
				<li class="nav-item active">
					<a class="nav-link" href="#">Accueil<span class="sr-only">(current)</span></a>
                    
				  </li>
                  <a class="dropdown-item" href="https://thibautherbert.github.io/ThibautHERBERT_2_22122020/">Trouver un hébergement</a>
				    <a class="dropdown-item" href="https://thibautherbert.github.io/ThibautHerbert_3_28012021/">Réserver une table</a>
                    
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle text-primary" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						Autres services</a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" href="https://thibautherbert.github.io/ThibautHERBERT_2_22122020/">Trouver un hébergement</a>
						<a class="dropdown-item" href="https://thibautherbert.github.io/ThibautHerbert_3_28012021/">Réserver une table</a>
						
					</div>
				</li>
			  </ul>
			  <form class="form-inline my-2 my-lg-0">
				<input class="form-control mr-sm-2" type="search" placeholder="Recherche" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
			  </form>
			</div>
		</nav>
	</header>
    
    
    <div id="app" >
        
        <div class="wallpaper mt-5 p-4">
            <h1 >{{ description }}</h1>
            <p class="sous-texte">{{ soustexte }}</p>
            
            <div class="d-flex justify-content-center px-1">
                <div class="my-5 p-4">
                    <h2 >Retrouvez la météo de votre ville</h2>
                </div>
            </div>
        </div>
        
        
        
        <div class="d-flex justify-content-center input-search rounded-pill">
            <div class="input-group my-1 col-md-5">
                <input type="text" class="form-control" placeholder="votre ville" aria-label="city" aria-describedby="button-addon2" v-model="villeCherchee">
                <button class="btn btn-search mx-2" type="button" id="button-addon2">Rechercher</button>
            </div>
        </div>
        <div class="">
            <div class="d-flex">
                <button id="ask-weather" @click="callApi(), clicki()">Quelle est la météo ?</button>
                <p id="weather-result"></p>
            </div>
            <div class="border border-5 border-primary result">
                <h4 class="title4">Les résultats pour le {{current_condition.date}} :</h4>
                <div class="d-flex justify-content-center">
                    
                        <div>
                            <div class="d-flex justify-content-around text3">
                                <p id="nameCity" class="text-result">namecity : {{villeCherchee}}</p>
                                <p class="text-result">{{current_condition.tmp}} C° </p>
                            </div>
                            <div class="d-flex justify-content-center" >
                                <img :src= "current_condition.icon">
                            </div>
                            <p class="text-center text-condition">conditions météos actuelles : {{current_condition.condition}}</p>
                            
                            
                            <div id="imgMeteo"></div>
                            <h4 class="title4">Nos conseils pour sortir : </h4>
                            <ul class="text3">
                                <li v-if="current_condition.condition == 'Pluie'">pluvieux : sortez votre ciré</li>
                                <li v-if="current_condition.condition == 'Eclaircies'">nuageux : oubliez le parapluie vous serez au sec</li>
                                <li v-if="current_condition.condition == 'Ensoleillé'">ensoleillé : il est temps de sortir les lunettes de soleil</li>
                                <li v-if="current_condition.tmp > 28">température très chaude : c'est pas souvent alors profitez, mais attention à l'insolation</li>
                                <li v-if="current_condition.tmp > 23 && current_condition.tmp < 28">température chaude : mettez votre gourde et un bob dans votre sac </li>
                                <li v-if="current_condition.tmp > 16 && current_condition.tmp < 24">température bonne : on tente les manches courtes tout doucement !</li>
                                <li v-if="current_condition.tmp < 16 && current_condition.tmp > 6">température fraiche : une petite écharpe ne ferait pas de mal</li>
                                <li v-if="current_condition.tmp < 7">température froide : sortez bonnet, gants, et la doudoune du placard !</li>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
        <div class="my-4 px-1">
            <h3 class="text-center">{{ services }}</h3>
        </div>
        
    </div>
    <footer class="card text-center">
        <div class="card-header bg-dark text-white">
            A propos
        </div>
        <div class="card-body bg-footer">
            <h5 class="card-title text-white">Une application météo rapide qui vous propose des services complémentaires selon vos besoins</h5>
            <p class=" logo">La Météo du jour </p>
            <nav class="navbar navbar-expand justify-content-center">  
                <a href="index.html" class="nav-link"> Accueil</a>
                <a href="https://thibautherbert.github.io/ThibautHERBERT_2_22122020/" class="nav-link"> Trouver un hébergement</a>
                <a href="https://thibautherbert.github.io/ThibautHerbert_3_28012021/" class="nav-link">Réserver une table</a>
            </nav>
        </div>
        <div class="card-footer text-muted logo">
            <a href="https://github.com/ThibautHerbert">Un site @Thibaut HERBERT</a>
            
        </div>
    </footer>
    <script src="app.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

</body>
</html>